@font-face {
    font-family: "Dense";
    src: url('fonts/dense.woff2') format('woff2'), url('fonts/dense.woff') format('woff');
    font-weight: normal;
  }
  @font-face {
    font-family: "HK Grotesk";
    src: url('fonts/hk_grotesk_pro_regular.woff2') format('woff2'), url('fonts/hk_grotesk_pro_regular.woff') format('woff');
    font-weight: normal;
  }
  @font-face {
    font-family: "Lulo Clean Outline";
    src: url('fonts/lulo_clean_outline_bold.woff2') format('woff2'), url('fonts/lulo_clean_outline_bold.woff') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: "Gilroy-ExtraBold";
    src: url('fonts/gilroy-extrabold.woff2') format('woff2'), url('fonts/gilroy-extrabold.woff') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: "Knicknack";
    src: url('fonts/knicknack_regular.woff2') format('woff2'), url('fonts/knicknack_regular.woff2') format('woff2');
    font-weight: normal;
  }
  @font-face {
    font-family: "Vocal";
    src: url('fonts/vocal_light.woff2') format('woff'), url('fonts/vocal_light.woff') format('woff');
    font-weight: thin;
  }
  @font-face {
    font-family: "Maipo";
    src: url('fonts/maipo_sans_semibold.woff2') format('woff2'), url('fonts/maipo_sans_semibold.woff') format('woff');
    font-weight: bold;
  }

  body {
      font-size: 2.5rem;
      color: black;
      background-color: #f9f1ff;
  }
  .container {
      text-align: center;
  }
  #icon {
      color: #9000bb;
      transform: skewX(15deg);
      -webkit-transform: skewX(15deg);
      -moz-transform: skewX(15deg);
      -o-transform: skewX(15deg);
      -ms-transform: skewX(15deg);
      text-shadow: 1px 1px #74caff, -1 -1 #f600e3;
  }