@font-face {
    font-family: "Dense";
    src: url('fonts/dense.woff2') format('woff2'), url('fonts/dense.woff') format('woff');
    font-weight: normal;
  }
  @font-face {
    font-family: "HK Grotesk";
    src: url('fonts/hk_grotesk_pro_regular.woff2') format('woff2'), url('fonts/hk_grotesk_pro_regular.woff') format('woff');
    font-weight: normal;
  }
  @font-face {
    font-family: "Lulo Clean Outline";
    src: url('fonts/lulo_clean_outline_bold.woff2') format('woff2'), url('fonts/lulo_clean_outline_bold.woff') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: "Gilroy-ExtraBold";
    src: url('fonts/gilroy-extrabold.woff2') format('woff2'), url('fonts/gilroy-extrabold.woff') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: "Knicknack";
    src: url('fonts/knicknack_regular.woff2') format('woff2'), url('fonts/knicknack_regular.woff2') format('woff2');
    font-weight: normal;
  }
  @font-face {
    font-family: "Vocal";
    src: url('fonts/vocal_light.woff2') format('woff'), url('fonts/vocal_light.woff') format('woff');
    font-weight: thin;
  }
  @font-face {
    font-family: "Maipo";
    src: url('fonts/maipo_sans_semibold.woff2') format('woff2'), url('fonts/maipo_sans_semibold.woff') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: "Paradroid-Mono";
    src: url('fonts/ParadroidMonoLight.woff2') format('woff2'), url('fonts/ParadroidMonoLight.woff') format('woff');
    font-weight: thin;
  }
  @font-face {
    font-family: "Runalto";
    src: url('fonts/Runalto.woff') format('woff');
    font-weight: normal;
  }

  :root {
    --dkblue: #4a5a73;
    --magenta: #b23eb8;
    --yellow: #d2c71a;
    --blue: #56959c;
  }

  body {
      font-size: 1.5rem;
      color: var(--dkblue);
      background-color: #eae1ff;
      margin: 40px;
  }
  .header {
      overflow: hidden;
      padding: 0 20px 0px 10px;
  }
  .header a {
      font-family: 'Paradroid-Mono', 'Courier New', Courier, monospace;
      text-decoration: none;
      font-size: 1.4rem;
      color: var(--dkblue);
  }
  .header a#logo {
      float: left;
      width: 250px;
      display: block;
}
#header-right {
    float: right;
    text-align: right;
    padding: 0 12px;
}
  #header-right a:hover {
      color: var(--blue);
  }
  #title {
      font-family: 'Runalto','Times New Roman', Times, serif;
      font-size: 1.8rem;
      color: var(--magenta);
      padding-right: 12px;
  }