@font-face {
    font-family: "Dense";
    src: url('fonts/dense.woff2') format('woff2'), url('fonts/dense.woff') format('woff');
    font-weight: normal;
  }
  @font-face {
    font-family: "HK Grotesk";
    src: url('fonts/HK Grotesk Pro Regular.otf') format('otf');
    font-weight: normal;
  }
  @font-face {
    font-family: "Lulo Clean Outline";
    src: url('fonts/Lulo Clean Outline Bold.otf') format('otf');
    font-weight: bold;
  }
  @font-face {
    font-family: "Gilroy-ExtraBold";
    src: url('fonts/Gilroy-ExtraBold.otf') format('otf');
    font-weight: bold;
  }
  @font-face {
    font-family: "Knicknack";
    src: url('fonts/Knicknack Regular.otf') format('otf');
    font-weight: normal;
  }
  @font-face {
    font-family: "Vocal";
    src: url('fonts/Vocal Light.otf') format('otf');
    font-weight: thin;
  }
  @font-face {
    font-family: "Maipo";
    src: url('fonts/Maipo Sans SemiBold.otf') format('otf');
    font-weight: bold;
  }

  body {
      font-size: 2.5rem;
      color: black;
      background-color: #f9f1ff;
  }
  .container {
      text-align: center;
  }
  #icon {
      color: #9000bb;
      transform: skewX(15deg);
      -webkit-transform: skewX(15deg);
      -moz-transform: skewX(15deg);
      -o-transform: skewX(15deg);
      -ms-transform: skewX(15deg);
      text-shadow: 1px 1px #74caff, -1 -1 #f600e3;
  }